header,footer,main,blockquote,body,div,section,article,li,dd,dir,dl,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,input,
legend,menu,ol,optgroup,p,pre,tbody,td,textarea,tfoot,th,thead,ul{
    margin:0;
    padding:0
}
div,section,article,main,header{
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    height:100%;
    background-image: url('../img/controlBg.webp');
    overflow-y: hidden;
    background-color:#000;
}
@font-face {
    font-family: 'UnidreamLED';
    src: url('../fonts/UnidreamLED.eot');
    src: url('../fonts/UnidreamLED.ttf') format('truetype'),
    url('../fonts/UnidreamLED.eot');
}
@media only screen and (max-width: 1980px){
    html{
        font-size:10px;
    }
}
@media only screen and (min-width: 1980px){
    html{
        font-size:26px;
    }
}
.screen{
    height:100%;
    width:100%;
    position:relative;
}
/*总体六个区域*/
.chartWrapper{
    width:32.8%;
    height:25.3%;
    position:absolute;
}
.chartWrapper:not(.rightMid):not(.rightBtm){
    background-image: url(../img/controlLongImg.png);
    background-size:100% 100%;
}
.leftTop{
    top:13.95%;
    left:1%;
}
.leftMid{
    top:40.6%;
    left:1%;
}
.leftBtm{
    top:67.3%;
    left:1%;
}
.rightTop{
    top:13.95%;
    right:1%;
}
.rightMid{
    top:40.6%;
    right:1%;
}
.rightBtm{
    top:67.3%;
    right:1%;
}
.chartBox{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
}
.chartBox>p{
    display: inline-block;
    color:white;
    font-size:1.3rem;
    height:12%;
}
.chartBox>div{
    height:88%;
    width:100%;
    position:absolute;
    bottom:0;
}
/*头部区域*/
header{
    height:13.9%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.titleBox{
    width:46.1%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: '黑体';
    position: relative;
}
.thisLogo{
    display: inline-block;
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
    left: -5rem;
    background-image: url(../img/logo.png);
    background-size: 100% 100%;
}
.thisTitle{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    margin-top:-2rem;
}
.thisSubTitle{
    font-size:1.6rem;
    position:absolute;
    white-space: nowrap;
    display: inline-block;
    bottom:0;
    margin-left:1rem;
}
.timeBox{
    position:absolute;
    width:15rem;
    height:50%;
    right:8%;
}
.hrefLogo{
    position: absolute;
    width: 9rem;
    height: 3rem;
    right: 1.5%;
    display: flex;
    justify-content: space-between;
}
.hrefLogo>span{
    display: inline-block;
    flex: 1;
    cursor: pointer;
}
.hrefLogo > span > img {
    height: 100%;
    width: 100%;
}

.hrefLogo > span > img:nth-of-type(2) {
    display: none;
}

.hrefLogo > span:not(:last-child):hover img:nth-of-type(1) {
    display: none;
}

.hrefLogo > span:not(:last-child):hover img:nth-of-type(2) {
    display: inline-block;
}
.currentTime{
    display: flex;
    height:100%;
    width:100%;
    font-family: "UnidreamLED";
    color:white;
    font-size:2rem;
    text-shadow: -1px 0px 10px #00a2ff,1px 0px 10px #00a2ff,0px -1px 10px #00a2ff,0px 1px 10px #00a2ff;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.chartFour{
    display: flex;
}
.chartFour>div{
    display: flex;
    justify-content: center;
    width:49%;
    height:100%;
    background-image:url(../img/controlShortImg.png);
    background-size:100% 100%;
}
.chartFour>div>p{
    color:white;
    font-size:1.3rem;
}
.chartFour>div:nth-of-type(1){
    left:0;
}
.chartFour>div:nth-of-type(2){
    right:0;
}
.chartFour>div>aside{
    width:100%;
    height:88%;
    position:absolute;
    bottom:0;
}
.chartFour>div>aside:nth-of-type(1){
    left:0;
}
.chartFour>div>aside:nth-of-type(2){
    right:0;
}
.pyramidBox{
    position:absolute;
    width:32.6%;
    height:86%;
    left:33.65%;
    top:13.9%;
}
.mainCvshd{
    height:100%;
    width:100%;
    box-sizing: border-box;
}